---
import Header from '../components/Header.astro'
import Greeting from '../components/Greeting';
import '../styles/global.css'

const { language, langSwitch } = Astro.props

---
 
<html lang={language}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>The Storyblok Astro Ultimate Tutorial: Part 2</title>
  </head>
  <body class="mx-auto">
    <Header langSwitch={langSwitch} language={language} />
    <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
    <slot />
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>